.myModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
} 

.myModal.active {
    opacity: 1;
    pointer-events: all;
}
.myModalContent {
    padding: 25px;
    /* border-color: white; */
    border-radius: 5px;
    min-width: 250px;
    background-color: white;
}

