.myBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    font-size: 15px;
    background-color: #0076FF;
    color: #fff;;
    opacity: 1;
    transition-duration: 0.5s;
    border-radius: 5px;
    border: none;
}
.myBtn:hover {
    opacity: 0.6;
}