* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.navbar {
  margin-top: 10px;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: #E3E6E8;
}


a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #000;
}
a:hover {
  opacity: 0.8;
}

a.active {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0076FF;
  color: white;
  height: 100%;
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
}

.footer_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}