.wrapper {
  padding: 60px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40vw;
  padding: 20px;
}
.label {
  padding-top: 25px;
}

.input {
  font-size: 16px;
  width: 300px;
  padding: 25px 0 5px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}
.input:focus {
  border-bottom: 2px solid #0076FF;
}
.input::placeholder{
  opacity: 0.6 ;
}

.lic_input {
  background-color: #f0f0f0;
  /* background: transparent; */
}

.devitem {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  border-bottom: 1px solid #f0f0f0;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.removebtn {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  align-items: center;
  border: none;
  background-color: red;
  border-radius: 50%;
}

.dev-wrap{
  display: flex;
  justify-content: space-between;
}


.devlist{
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

.areainput {
  width: 40vw;
  height: 400px;
  resize: none;
}

.modalform {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.savebtn {
  position: absolute;
  top: 70vh;
  right: 50px;
}

.display {
  margin-top: 60px;
  padding: 20px;
  border: 2px solid #f0f0f0;
}